<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="53fa0748-c1bc-4a9c-bea2-4ad872dd235f" Version="1.0.0.0" Publisher="CN=itagaki" />
  <mp:PhoneIdentity PhoneProductId="53fa0748-c1bc-4a9c-bea2-4ad872dd235f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>NYO</DisplayName>
    <PublisherDisplayName>ItGacky</PublisherDisplayName>
    <Logo>assets\icon\logo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index-windows.html">
      <uap:VisualElements DisplayName="NYO" Description="NYO" BackgroundColor="transparent" Square150x150Logo="assets\icon\150x150.png" Square44x44Logo="assets\icon\44x44.png">
        <uap:DefaultTile Wide310x150Logo="assets\icon\310x150.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="assets\icon\splash.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>