# Project-specific files
/bin
/bld
/node_modules

# Visual Studio
.vs
.svn
*.exe
*.ilk
*.jar
*.lastcodeanalysissucceeded
*.opensdf
*.pdb
*.sdf
*.suo
*.user

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
